.social_media_toolbox,
#portal-column-one,
.logo_for_print,
#portal-column-spacer,
.mente-du-box,
#ordbogerimg,
#raad-og-regler-layer,
#artikler-layer,
#temaer-layer,
#leg-og-laer-layer,
.searchHelp-box,
/* The korpus layer requires JS. */
#korpus-layer,
#ordboger-layer h2 a,
.searchbox-right {
  display: none;
}

td {
  padding: 0;
}

table, tbody, tr, td {
  display: block;
}

.image-left {
  float: left;
  --padding: 6px;
  height: calc(2lh - var(--padding) * 2);
  padding: var(--padding);
}

.box-block {
  color: var(--highlight-0);
  margin-top: 1ex;
  margin-bottom: 1ex;
}

.phon, .def, .onyms {
  display: block;
}


.phon:before {
  content: "Fon";
}
.onyms:before {
  content: "Se også";
}
.etym:before {
  content: "Etymologi";
}
.audio a:after {
  content: "Lyt";
}

.phon:before,
.onyms:before,
.etym:before,
.audio a:after {
  border: 1px solid var(--foreground-color);
  font-size: 77%;
  font-weight: bolder;
  font-variant: small-caps;
  margin-inline: 1ex;
  padding-inline: 1ex;
  display: inline-block;
}

.def .def {
  margin-left: 2ex;
  margin-block-start: var(--paragraph-margin);
  margin-block-end: var(--paragraph-margin);
}

.audio img {
  display: none;
}

.audio a {
  appearance: button;
}

.opt {
  bottom: 0.25lh;
  position: relative;
  font-size: 75%;
}
